@(message: String)
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
   <meta charset="utf-8" />
   <title>Welcome to CRM - 
			   @if( session.get("userType") != null && session.get("userType").equals("customer"))  {
						(Customer)
			   }

</title>
   <meta content="width=device-width, initial-scale=1.0" name="viewport" />
   <meta content="" name="description" />
   <meta content="Mosaddek" name="author" />
<!--##
   <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
   <link href="assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
   <link href="assets/bootstrap/css/bootstrap-fileupload.css" rel="stylesheet" />
   <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
   <link href="css/style.css" rel="stylesheet" />
   <link href="css/style-responsive.css" rel="stylesheet" />
   <link href="css/style-default.css" rel="stylesheet" id="style_color" />
   <link href="assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css" rel="stylesheet" />
   <link href="assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen"/>
##-->

   <link href="@routes.Assets.at("assets/bootstrap/css/bootstrap.min.css")" rel="stylesheet" />
   <link href="@routes.Assets.at("assets/bootstrap/css/bootstrap-responsive.min.css")" rel="stylesheet" />
   <link href="@routes.Assets.at("assets/bootstrap/css/bootstrap-fileupload.css")" rel="stylesheet" />
   <link href="@routes.Assets.at("assets/font-awesome/css/font-awesome.css")" rel="stylesheet" />
   <link href="@routes.Assets.at("css/style.css")" rel="stylesheet" />
   <link href="@routes.Assets.at("css/style-responsive.css")" rel="stylesheet" />
   <link href="@routes.Assets.at("css/style-default.css")" rel="stylesheet" id="style_color" />
   <link href="@routes.Assets.at("assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css")" rel="stylesheet" />
   <link href="@routes.Assets.at("assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css")" rel="stylesheet" type="text/css" media="screen"/>

</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="fixed-top">
   <!-- BEGIN HEADER -->
   <div id="header" class="navbar navbar-inverse navbar-fixed-top">
       <!-- BEGIN TOP NAVIGATION BAR -->
       <div class="navbar-inner">
           <div class="container-fluid">
               <!--BEGIN SIDEBAR TOGGLE-->
               <div class="sidebar-toggle-box hidden-phone">
                   <div class="icon-reorder tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
               </div>
               <!--END SIDEBAR TOGGLE-->
               <!-- BEGIN LOGO -->
               <a class="brand" id="menu-home-crm">

                  Online Shopping 
				  
			   @if( session.get("userType").equals("admin")) {
						 (Admin)
               }
			   
			   @if( session.get("userType").equals("merchant"))  {
						(Merchant)
			   }
			   
			   </a>
               <!-- END LOGO -->
               <!-- BEGIN RESPONSIVE MENU TOGGLER -->
               <a class="btn btn-navbar collapsed" id="main_menu_trigger" data-toggle="collapse" data-target=".nav-collapse">
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="arrow"></span>
               </a>
               <!-- END RESPONSIVE MENU TOGGLER -->
               <div id="top_menu" class="nav notify-row">
                   <!-- BEGIN NOTIFICATION -->
                   
               </div>
               <!-- END  NOTIFICATION -->
               <div class="top-nav ">
                   <ul class="nav pull-right top-menu" >
                       <!-- BEGIN SUPPORT -->
				<!--              
			  <li class="dropdown" id="header_notification_bar">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                               <i class="icon-bell-alt"></i>
                               <span class="badge badge-warning">7</span>
                           </a>
                           <ul class="dropdown-menu extended notification">
                               <li>
                                   <p>You have 7 new notifications</p>
                               </li>
                               <li>
                                   <a href="#">
                                       <span class="label label-important"><i class="icon-bolt"></i></span>
                                       Server #3 overloaded.
                                       <span class="small italic">34 mins</span>
                                   </a>
                               </li>
                               <li>
                                   <a href="#">
                                       <span class="label label-warning"><i class="icon-bell"></i></span>
                                       Server #10 not respoding.
                                       <span class="small italic">1 Hours</span>
                                   </a>
                               </li>
                               <li>
                                   <a href="#">
                                       <span class="label label-important"><i class="icon-bolt"></i></span>
                                       Database overloaded 24%.
                                       <span class="small italic">4 hrs</span>
                                   </a>
                               </li>
                               <li>
                                   <a href="#">
                                       <span class="label label-success"><i class="icon-plus"></i></span>
                                       New user registered.
                                       <span class="small italic">Just now</span>
                                   </a>
                               </li>
                               <li>
                                   <a href="#">
                                       <span class="label label-info"><i class="icon-bullhorn"></i></span>
                                       Application error.
                                       <span class="small italic">10 mins</span>
                                   </a>
                               </li>
                               <li>
                                   <a href="#">See all notifications</a>
                               </li>
                           </ul>
                       </li>
                       <li class="dropdown" id="header_inbox_bar">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                               <i class="icon-envelope-alt"></i>
                               <span class="badge badge-important">5</span>
                           </a>
                           <ul class="dropdown-menu extended inbox">
                               <li>
                                   <p>You have 5 new messages</p>
                               </li>
                               <li>
                                   <a href="#">
                                       <span class="photo"><img src="./img/avatar-mini.png" alt="avatar" /></span>
									<span class="subject">
									<span class="from">Jonathan Smith</span>
									<span class="time">Just now</span>
									</span>
									<span class="message">
									    Hello, this is an example msg.
									</span>
                                   </a>
                               </li>
                               <li>
                                   <a href="#">
                                       <span class="photo"><img src="./img/avatar-mini.png" alt="avatar" /></span>
									<span class="subject">
									<span class="from">Jhon Doe</span>
									<span class="time">10 mins</span>
									</span>
									<span class="message">
									 Hi, Jhon Doe Bhai how are you ?
									</span>
                                   </a>
                               </li>
                               <li>
                                   <a href="#">
                                       <span class="photo"><img src="./img/avatar-mini.png" alt="avatar" /></span>
									<span class="subject">
									<span class="from">Jason Stathum</span>
									<span class="time">3 hrs</span>
									</span>
									<span class="message">
									    This is awesome dashboard.
									</span>
                                   </a>
                               </li>
                               <li>
                                   <a href="#">
                                       <span class="photo"><img src="./img/avatar-mini.png" alt="avatar" /></span>
									<span class="subject">
									<span class="from">Jondi Rose</span>
									<span class="time">Just now</span>
									</span>
									<span class="message">
									    Hello, this is metrolab
									</span>
                                   </a>
                               </li>
                               <li>
                                   <a href="#">See all messages</a>
                               </li>
                           </ul>
                       </li>
			-->            
				<!-- END SUPPORT -->
			
                       <!-- BEGIN USER LOGIN DROPDOWN -->
                       <li class="dropdown">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                               <span class="username">@session.get("userName")</span>
                               <b class="caret"></b>
                           </a>
                           <ul class="dropdown-menu extended logout">
                               <li><a href="#"><i class="icon-user"></i> My Profile</a></li>
                               <li><a href="change_password.html"><i class="icon-cog"></i> Change Password</a></li>
                               <li><a href="/logout"><i class="icon-key"></i> Log Out</a></li>
                           </ul>
                       </li>
                       <!-- END USER LOGIN DROPDOWN -->
                   </ul>
                   <!-- END TOP NAVIGATION MENU -->
               </div>
           </div>
       </div>
       <!-- END TOP NAVIGATION BAR -->
   </div>
   <!-- END HEADER -->
   <!-- BEGIN CONTAINER -->
   <div id="container" class="row-fluid">
      <!-- BEGIN SIDEBAR -->
      <div class="sidebar-scroll">
        <div id="sidebar" class="nav-collapse collapse">

         <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
         <div class="navbar-inverse">
            <form class="navbar-search visible-phone">
               <input type="text" class="search-query" placeholder="Search" />
            </form>
         </div>
         <!-- END RESPONSIVE QUICK SEARCH FORM -->
         <!-- BEGIN SIDEBAR MENU -->
          <ul class="sidebar-menu">
              <li class="sub-menu active">
                  <a class="" id="menu-dashboard">
                      <i class="icon-dashboard"></i>
                      <span>Dashboard</span>
                  </a>
              </li>
			  
			
			  <li class="sub-menu">
				  <a href="javascript:;" class="">
					  <i class="icon-user"  id="menu-TranHistory"></i>
					  <span>My Profile</span>
				  </a>
			  </li>
			  <!-- 
			  <li class="sub-menu">
				  <a href="javascript:;" class="">
					  <i class="icon-user"  id="menu-TranHistory"></i>
					  <span>My Profile</span>
				  </a>
			  </li>
			  
			  <li class="sub-menu">
				  <a href="javascript:;" class="">
					  <i class="icon-user" ></i>
					  <span>Transactions</span>
				  </a>
			  </li>
			   -->
			  
			  <li class="sub-menu">
                  <a href="javascript:;" class="">
                      <i class="icon-tasks"></i>
                      <span>Notification</span>
                      <span class="arrow"></span>
                  </a>
                  <ul class="sub">
				      <li><a class="" href="#" id="menu-notification-feedback">Feedback</a></li>
                      <li><a class="" href="#" id="menu-notification-complaints">Complaints</a></li>
                  </ul>
              </li>

			<!--  
			 <li class="sub-menu">
				  <a href="javascript:;" class="">
					  <i class="icon-user"></i>
					  <span>Account</span>
					  <span class="arrow"></span>
				  </a>
				  <ul class="sub">
					  <li><a class="" id="menu-newmerchant" href="#">Summery</a></li>
					  
				  </ul>
			  </li>  
              <li class="sub-menu">
                  <a href="javascript:;" class="">
                      <i class="icon-book"></i>
                      <span>Charts</span>
                      <span class="arrow"></span>
                  </a>
                  <ul class="sub">
                      <li><a class="" id="menu-flot-chart-today">Today</a></li>
                      <li><a class="" id="menu-flot-chart-week">This Week</a></li>
                      <li><a class="" id="menu-flot-chart-month">This Month</a></li>
                      <li><a class="" id="menu-flot-chart-year">This Year</a></li>
                     
                  </ul>
              </li>
              <li class="sub-menu">
                  <a href="javascript:;" class="">
                      <i class="icon-cogs"></i>
                      <span>Tables</span>
                      <span class="arrow"></span>
                  </a>
                  <ul class="sub">
                      <li><a class="" href="#" id="menu-table-total">Total</a></li>
                      <li><a class="" href="#" id="menu-table-success">Success</a></li>
                      <li><a class="" href="#" id="menu-table-pending">Pending</a></li>
                      <li><a class="" href="#" id="menu-table-unsuccess">Unsuccess</a></li>
                      
                  </ul>
              </li>
              -->
              
             

              
          </ul>
         <!-- END SIDEBAR MENU -->
      </div>
      </div>
      <!-- END SIDEBAR -->
      <!-- BEGIN PAGE -->  
      <div id="main-content">
<!-- ##################	BEGIN Make Transaction ######################### -- >		 
		 <!-- BEGIN PAGE CONTAINER-->
         <div id="page-newTransaction" class="container-fluid crm-main-content">
            <!-- BEGIN PAGE HEADER-->
            <div class="row-fluid">
               <div class="span12">
                   <!-- BEGIN THEME CUSTOMIZER-->
                   <div id="theme-change" class="hidden-phone">
                       <i class="icon-cogs"></i>
                        <span class="settings">
                            <span class="text">Theme Color:</span>
                            <span class="colors">
                                <span class="color-default" data-style="default"></span>
                                <span class="color-green" data-style="green"></span>
                                <span class="color-gray" data-style="gray"></span>
                                <span class="color-purple" data-style="purple"></span>
                                <span class="color-red" data-style="red"></span>
                            </span>
                        </span>
                   </div>
                   <!-- END THEME CUSTOMIZER-->
                  <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                   <h3 class="page-title">
                     Buy Product Online
                   </h3>
                   <ul class="breadcrumb">
                       <li>
                           <a href="#">Home</a>
                           <span class="divider">/</span>
                       </li>
                       <li>
                           <a href="#">Buy</a>
                           <span class="divider">/</span>
                       </li>
                       <li class="active">
                           Add New
                       </li>
                       <li class="pull-right search-wrap">
                           <form action="search_result.html" class="hidden-phone">
                               <div class="input-append search-input-area">
                                   <input class="" id="appendedInputButton" type="text">
                                   <button class="btn" type="button"><i class="icon-search"></i> </button>
                               </div>
                           </form>
                       </li>
                   </ul>
                   <!-- END PAGE TITLE & BREADCRUMB-->
               </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN SAMPLE FORMPORTLET-->
                    <div class="widget green">
                        <div class="widget-title">
                            <h4><i class="icon-reorder"></i></h4>
                            <span class="tools">
                            <a href="javascript:;" class="icon-chevron-down"></a>
                            <a href="javascript:;" class="icon-remove"></a>
                            </span>
                        </div>
                        <div class="widget-body">
                            <!-- BEGIN FORM-->
                            <form action="#" class="form-horizontal">
								<!-- 
								<div class="control-group">
									<label class="control-label">Account ID</label>
									<div class="controls">
										<input class="span6 " type="text" value="78645" placeholder="Disabled input here..." disabled  />
										<span class="help-inline">Some hint here</span>
									</div>
								</div> -->
								<div class="control-group">
									<label class="control-label">Product</label>
									<div class="controls">
										<select id="cmbProduct" name = "cmbProduct" required class="span6 ">
											<option value="0">Select</option>
										</select>
										<span class="help-inline">Select Product</span>
									</div>
									
								</div>
								<div class="control-group">
									<label class="control-label">Merchant Name</label>
									<div class="controls">
										<select id="cmbMerchant" required class="span6 ">
											<option value="0">Select</option>
										</select>
										<span class="help-inline">Select Merchant</span>
									</div>
								</div>
								<div class="control-group">
									<label class="control-label">Bank</label>
									<div class="controls">
										<select id="cmbBank" name = "cmbBank" required class="span6 ">
											<option value="0">Select</option>
										</select>
										<span class="help-inline">Select Bank</span>
									</div>
								</div>
								
								<div class="control-group ">
									<label for="cemail" class="control-label">Payment Mode</label>
									<div class="controls">
										<select id="cmbPaymentMode" required class="span6 ">
											<option value="Credit-Card">Credit Card</option>
											<option value="Debit-Card">Debit Card</option>
										</select>
										<span class="help-inline">Payment Mode</span>
									</div>
								</div>
								
								<div class="control-group ">
									<label for="cemail" class="control-label">Delivery Address</label>
									<div class="controls">
										<textarea id="txtAddress" required class="span6 ">
										</textarea>
										<span class="help-inline">Enter address</span>
									</div>
								</div>
								
								
								<div class="control-group ">
									<label for="cemail" class="control-label">Access Location</label>
									<div class="controls">
										<Select id="cmbAccessLocation" required class="span6 ">
											<option id="0"> -- Select -- </option>
										</Select>
										<span class="help-inline">Access Location</span>
									</div>
								</div>
								
								<div class="form-actions">
									<button  id="btnProceedToPay" href="#myModalPayMessage" role="button"  data-toggle="modal" class="btn btn-success">Proceed To Pay</button>
									<button type="button" class="btn">Cancel</button>
								</div>
                            </form>
                            <!-- END FORM-->
                        </div>
                    </div>
                    <!-- END SAMPLE FORM PORTLET-->
                </div>
            </div>
            <div id="myModalPayMessage" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="myModalLabel2">Merchants Approval..</h3>
				</div>
				<div class="modal-body">
					<p>Please Wait...</p>
				</div>
				<div class="modal-footer">
					<button data-dismiss="modal" class="btn btn-primary">OK</button>
				</div>
			</div>
		</div>
         <!-- END PAGE CONTAINER-->	 
<!-- ##################	END Make Transaction ######################### -- >		 

<!-- ##################	BEGIN View MERCHANT ############################ -- >		 
		 <!-- BEGIN PAGE CONTAINER-->
         <div id="page-viewTransaction"  class="container-fluid crm-main-content">
            <!-- BEGIN PAGE HEADER-->   
            <div class="row-fluid">
               <div class="span12">
                   <!-- BEGIN THEME CUSTOMIZER-->
                   <div id="theme-change" class="hidden-phone">
                       <i class="icon-cogs"></i>
                        <span class="settings">
                            <span class="text">Theme Color:</span>
                            <span class="colors">
                                <span class="color-default" data-style="default"></span>
                                <span class="color-green" data-style="green"></span>
                                <span class="color-gray" data-style="gray"></span>
                                <span class="color-purple" data-style="purple"></span>
                                <span class="color-red" data-style="red"></span>
                            </span>
                        </span>
                   </div>
                   <!-- END THEME CUSTOMIZER-->
                  <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                   <h3 class="page-title">
                     View All Merchants
                   </h3>
                   <ul class="breadcrumb">
                       <li>
                           <a href="#">Home</a>
                           <span class="divider">/</span>
                       </li>
                       <li>
                           <a href="#">Merchants</a>
                           
                       </li>
                       
                       <li class="pull-right search-wrap">
                           <form action="search_result.html" class="hidden-phone">
                               <div class="input-append search-input-area">
                                   <input class="" id="appendedInputButton" type="text">
                                   <button class="btn" type="button"><i class="icon-search"></i> </button>
                               </div>
                           </form>
                       </li>
                   </ul>
                   <!-- END PAGE TITLE & BREADCRUMB-->
               </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN ADVANCED TABLE widget-->
            <div class="row-fluid">
                <div class="span12">
                <!-- BEGIN EXAMPLE TABLE widget-->
                <div class="widget red">
                    <div class="widget-title">
                        <h4><i class="icon-reorder"></i> Total Merchants</h4>
                            <span class="tools">
                                <a href="javascript:;" class="icon-chevron-down"></a>
                                <a href="javascript:;" class="icon-remove"></a>
                            </span>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE widget-->
                </div>
            </div>
				<div id="myModal1" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h3 id="myModalLabel1">Modal Header</h3>
                                </div>
                                <div class="modal-body">
                                    <p>Body goes here...</p>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                                    <button class="btn btn-primary">Save</button>
                                </div>
                </div>
            <!-- END ADVANCED TABLE widget-->
         </div>
         <!-- END PAGE CONTAINER-->
<!-- ##################	END View MERCHANT ############################ -- >

	 
	 
<!-- ##################	BEGIN View Complaints ############################ -- >		 
	  <!-- BEGIN PAGE CONTAINER-->
         <div id="page-addComplaints"  class="container-fluid crm-main-content">
            <!-- BEGIN PAGE HEADER-->
            <div class="row-fluid">
               <div class="span12">
                   <!-- BEGIN THEME CUSTOMIZER-->
                   <div id="theme-change" class="hidden-phone">
                       <i class="icon-cogs"></i>
                        <span class="settings">
                            <span class="text">Theme Color:</span>
                            <span class="colors">
                                <span class="color-default" data-style="default"></span>
                                <span class="color-green" data-style="green"></span>
                                <span class="color-gray" data-style="gray"></span>
                                <span class="color-purple" data-style="purple"></span>
                                <span class="color-red" data-style="red"></span>
                            </span>
                        </span>
                   </div>
                   <!-- END THEME CUSTOMIZER-->
                  <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                   <h3 class="page-title">
                     Add New Complaints
                   </h3>
                   <ul class="breadcrumb">
                       <li>
                           <a href="#">Home</a>
                           <span class="divider">/</span>
                       </li>
                       <li>
                           <a href="#">Feedback</a>
                           <span class="divider">/</span>
                       </li>
                       <li class="active">
                           Add New
                       </li>
                       <li class="pull-right search-wrap">
                           <form action="search_result.html" class="hidden-phone">
                               <div class="input-append search-input-area">
                                   <input class="" id="appendedInputButton" type="text">
                                   <button class="btn" type="button"><i class="icon-search"></i> </button>
                               </div>
                           </form>
                       </li>
                   </ul>
                   <!-- END PAGE TITLE & BREADCRUMB-->
               </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN SAMPLE FORMPORTLET-->
                    <div class="widget green">
                        <div class="widget-title">
                            <h4><i class="icon-reorder"></i> New Complaint </h4>
                            <span class="tools">
                            <a href="javascript:;" class="icon-chevron-down"></a>
                            <a href="javascript:;" class="icon-remove"></a>
                            </span>
                        </div>
                        <div class="widget-body">
                            <!-- BEGIN FORM-->
                            <form action="#" class="form-horizontal">
							<div class="control-group">
                                <label class="control-label">Merchant</label>
                                <div class="controls">
                                    <select class="span6 " data-placeholder="Choose a Merchant" tabindex="1">
                                        <option value="">Select Merchant...</option>
                                        <option value="Merchant 1">Merchant 1</option>
                                        <option value="Merchant 2">Merchant 2</option>
                                        <option value="Merchant 3">Merchant 5</option>
                                        <option value="Merchant 4">Merchant 4</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="control-group">
                                <label class="control-label">Complaint</label>
                                <div class="controls">
                                    <textarea class="span6 " rows="3" required></textarea>
                                </div>
                            </div>
                            <div class="form-actions">
							<button  href="#myModal2" role="button"  data-toggle="modal" class="btn btn-success">Submit</button>
                                
                                <button type="button" class="btn">Cancel</button>
                            </div>
                            </form>
                            <!-- END FORM-->
                        </div>
                    </div>
                    <!-- END SAMPLE FORM PORTLET-->
                </div>
            </div>
            <div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="myModalLabel2">Account created</h3>
				</div>
				<div class="modal-body">
					<p>Merchant Account successfully.Login details sent to merchant's email address.</p>
				</div>
				<div class="modal-footer">
					<button data-dismiss="modal" class="btn btn-primary">OK</button>
				</div>
			</div>

         <!-- END PAGE CONTAINER-->
      </div>
      <!-- END PAGE -->
	 

<!-- ##################	BEGIN View Feedback ############################ -- >		 
	 
	 <!-- BEGIN PAGE CONTAINER-->
         <div id="page-addFeedback" class="container-fluid">
            <!-- BEGIN PAGE HEADER-->
            <div class="row-fluid">
               <div class="span12">
                   <!-- BEGIN THEME CUSTOMIZER-->
                   <div id="theme-change" class="hidden-phone">
                       <i class="icon-cogs"></i>
                        <span class="settings">
                            <span class="text">Theme Color:</span>
                            <span class="colors">
                                <span class="color-default" data-style="default"></span>
                                <span class="color-green" data-style="green"></span>
                                <span class="color-gray" data-style="gray"></span>
                                <span class="color-purple" data-style="purple"></span>
                                <span class="color-red" data-style="red"></span>
                            </span>
                        </span>
                   </div>
                   <!-- END THEME CUSTOMIZER-->
                  <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                   <h3 class="page-title">
                     Add New Merchant
                   </h3>
                   <ul class="breadcrumb">
                       <li>
                           <a href="#">Home</a>
                           <span class="divider">/</span>
                       </li>
                       <li>
                           <a href="#">Feedback</a>
                           <span class="divider">/</span>
                       </li>
                       <li class="active">
                           Add New
                       </li>
                       <li class="pull-right search-wrap">
                           <form action="search_result.html" class="hidden-phone">
                               <div class="input-append search-input-area">
                                   <input class="" id="appendedInputButton" type="text">
                                   <button class="btn" type="button"><i class="icon-search"></i> </button>
                               </div>
                           </form>
                       </li>
                   </ul>
                   <!-- END PAGE TITLE & BREADCRUMB-->
               </div>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid">
                <div class="span12">
                    <!-- BEGIN SAMPLE FORMPORTLET-->
                    <div class="widget green">
                        <div class="widget-title">
                            <h4><i class="icon-reorder"></i> New Feedback </h4>
                            <span class="tools">
                            <a href="javascript:;" class="icon-chevron-down"></a>
                            <a href="javascript:;" class="icon-remove"></a>
                            </span>
                        </div>
                        <div class="widget-body">
                            <!-- BEGIN FORM-->
                            <form action="#" class="form-horizontal">
							<div class="control-group">
                                <label class="control-label">Merchants</label>
                                <div class="controls">
                                    <select class="span6 " data-placeholder="Choose a Merchant" tabindex="1">
                                        <option value="">Select Merchant...</option>
                                        <option value="Merchant 1">Merchant 1</option>
                                        <option value="Merchant 2">Merchant 2</option>
                                        <option value="Merchant 3">Merchant 5</option>
                                        <option value="Merchant 4">Merchant 4</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="control-group">
                                <label class="control-label">Message</label>
                                <div class="controls">
                                    <textarea class="span6 " rows="3" required></textarea>
                                </div>
                            </div>
                            <div class="form-actions">
							<button  href="#myModal2" role="button"  data-toggle="modal" class="btn btn-success">Submit</button>
                                
                                <button type="button" class="btn">Cancel</button>
                            </div>
                            </form>
                            <!-- END FORM-->
                        </div>
                    </div>
                    <!-- END SAMPLE FORM PORTLET-->
                </div>
            </div>
            
			
		<div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel2">Account created</h3>
			</div>
			<div class="modal-body">
				<p>Merchant Account successfully.Login details sent to merchant's email address.</p>
			</div>
			<div class="modal-footer">
				<button data-dismiss="modal" class="btn btn-primary">OK</button>
			</div>
		</div>

         <!-- END PAGE CONTAINER-->
      </div>
    <!-- END PAGE -->
	 
	 
<!--      </div>  -->
      <!-- END PAGE -->  
   </div>
   <!-- END CONTAINER -->

   <!-- BEGIN FOOTER -->
   <div id="footer">
       2013 &copy; Metro Lab Dashboard.
   </div>
   <!-- END FOOTER -->

   <!-- BEGIN JAVASCRIPTS -->
   <!-- Load javascripts at bottom, this will reduce page load time -->
<!--##
   <script src="js/jquery-1.8.3.min.js"></script>
   <script src="js/jquery.nicescroll.js" type="text/javascript"></script>
   <script type="text/javascript" src="assets/jquery-slimscroll/jquery-ui-1.9.2.custom.min.js"></script>
   <script type="text/javascript" src="assets/jquery-slimscroll/jquery.slimscroll.min.js"></script>
   <script src="assets/fullcalendar/fullcalendar/fullcalendar.min.js"></script>
   <script src="assets/bootstrap/js/bootstrap.min.js"></script>
##-->

   <script src="@routes.Assets.at("js/jquery-1.8.3.min.js")"></script>
    <script src="@routes.Assets.at("js/jquery.nicescroll.js")" type="text/javascript"></script>
   <script type="text/javascript" src="@routes.Assets.at("assets/jquery-slimscroll/jquery-ui-1.9.2.custom.min.js")"></script>
   <script type="text/javascript" src="@routes.Assets.at("assets/jquery-slimscroll/jquery.slimscroll.min.js")"></script>
   <script src="@routes.Assets.at("assets/fullcalendar/fullcalendar/fullcalendar.min.js")"></script>
   <script src="@routes.Assets.at("assets/bootstrap/js/bootstrap.min.js")"></script>



   <!-- ie8 fixes -->
   <!--[if lt IE 9]>
<!--##   
	<script src="js/excanvas.js"></script>
    <script src="js/respond.js"></script>
-->
   <script src="@routes.Assets.at("js/excanvas.js")"></script>
   <script src="@routes.Assets.at("js/respond.js")"></script>

   <![endif]-->

<!--##   
   <script src="assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js" type="text/javascript"></script>
   <script src="js/jquery.sparkline.js" type="text/javascript"></script>
   <script src="assets/chart-master/Chart.js"></script>
   <script src="js/jquery.scrollTo.min.js"></script>
-->

   <script src="@routes.Assets.at("assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js")" type="text/javascript"></script>
   <script src="@routes.Assets.at("js/jquery.sparkline.js")" type="text/javascript"></script>
   <script src="@routes.Assets.at("assets/chart-master/Chart.js")"></script>
   <script src="@routes.Assets.at("js/jquery.scrollTo.min.js")"></script>


   <!--common script for all pages-->
  <!--## <script src="js/common-scripts.js"></script> -->

	<script src="@routes.Assets.at("js/common-scripts.js")"></script>

   <!--script for this page only-->

<!--## <script src="js/easy-pie-chart.js"></script>
   <script src="js/sparkline-chart.js"></script>
   <script src="js/home-page-calender.js"></script>
   <script src="js/home-chartjs.js"></script>
   
	<script src="js/crmCustomer.js"></script>
-->
   <script src="@routes.Assets.at("js/home-page-calender.js")"></script>
<!--   <script src="@routes.Assets.at("js/home-chartjs.js")"></script>
-->


<!--	<script src="@routes.Assets.at("js/custom-flot-chart.js")"></script>
	
   -->
   
   <script src="@routes.Assets.at("js/crmCustomer.js")"></script>
  
   
   <!-- END JAVASCRIPTS -->   
</body>
<!-- END BODY -->
</html>